.header{
    background-color: rgb(107, 62, 2)}
body{
    background-color:rgb(75, 71, 52)
}
nav{
    color: black;

}
.footer{
    background-color: rgb(107, 62, 2)
}

a{
    margin: 20px  20px 20px;
    height: fit-content;
    text-align: center;
    flex-direction:column;
    color:black

}
:root{
    --facebook:#3b5999
    --instagram:#e4405f
    --youtube:#bd081c
}
.redes-sociales{
    display: flex;
    align-items:center;
    justify-content:center;
}

.redes-sociales a i{
    display: inline-block;
    margin: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    box-shadow: 0 3px 5px 0px rgba(0, 0, .2);

}
.redes-sociales a:hover{
    filter: blur(2px);
}
.redes-sociales a i{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, .5);
    filter: none;
}
.redes-sociales a i .facebook:hover{
    background: var(--facebook);     
}

.redes-sociales a i .instagram:hover{
    background: var(--instagram);
}
.redes-sociales a i .youtube:hover{
    background: var(--youtube);
}
#navbarNav {
    justify-content: flex-end;
    font-size: 25px;
}